.header-label {
  text-align: center;
  color: darkgray;
}

.header-comment {
  font-size: 0.8rem;
  padding-left: 15px;
}

.header-cross-btn {
  display: none;
}

.header-btn {
  margin: 10px;
  font-size: 1.3rem;
}

.writer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.text-area {
  height: 100%;
  margin: 1rem;
  border: none;
  padding: 1rem;
  resize: none;
  outline: none;
}

textarea.text-area:hover {
  outline: none;
}

.lang-form {
  text-align: center;
  color: orange;
}

.github-link {
  display: flex;
  align-items: center;
  margin: 5px;
}

.github-link a {
  color: wheat;
  margin-left: 5px;
  margin-right: 5px;
}

.header-links {
  display: flex;
  justify-content: center;
}

.info-keybinding {
  text-align: center;
  color: crimson;
}

.suggestion {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  align-items: center;
  margin-top: 7px;
}

.suggest {
  display: block;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid;
  padding: 5px;
}

.selected {
  background: white;
  color: black;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .info-keybinding {
    display: none;
  }

  .header-cross-btn {
    display: inline;
    padding: 12px;
  }
}