.heading {
  text-align: center;
}

.writer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.text-area {
  height: 100%;
  margin: 1rem;
  border: none;
  padding: 1rem;
  resize: none;
  outline: none;
}

textarea.text-area:hover {
  outline: none;
}

.lang-form {
  text-align: center;
}